In [7]:
import pandas as pd
import csv 
import os
os.chdir(r"D:\MACHINE LEARNING\Meeting Analysis\Data")

In [8]:
df = pd.read_csv("meeting_transcript.txt", delimiter = '\t')
df

                      start_time,end_time,speaker,text
0    00:10:15,"00:12:05","Alice,"I have an importan...
1    02:30:45,"02:32:10","Bob","We need someone to ...
2    08:45:20,"08:47:05","Carol","I would like to a...
3    09:15:30,"09:17:10","David","As discussed earl...
4    14:20:50,"14:23:00","Emma","We have an urgent ...
..                                                 ...
215  08:45:55,"08:47:20","Charlotte","Daniel, condu...
216  15:30:15,"15:31:40","Michael","Grace, analyze ...
217  12:40:10,"12:41:35","Aiden","Lily, create a co...
218  09:15:30,"09:16:55","Olivia","William, lead th...
219  20:00:15,"23:01:40","Ashwin","Nayanjit, Build ...

[220 rows x 1 columns]

In [4]:
df.to_csv("meeting_transcript.csv", header=0, index = False)

In [38]:
with open("transcript.txt", "w") as file:
    for sent in df["text"]:
        file.write(sent + "\n")

In [35]:
df.iloc[40]

start_time                                             11:30:45
end_time                                               11:32:10
speaker       Ganesh ,Schedule and coordinate meetings with ...
text                                                        NaN
Name: 40, dtype: object

In [ ]:
zzz